rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow reading user data for authorized users
    match /users/{userId} {
      allow read: if request.auth != null
    }

    // Allow reading, creating, updating, and deleting tasks based on user ownerships

    match /myTasks/{taskId} {
      // Allow read if the user is authenticated and owns the taskId
      allow read: if request.auth != null && resource.data.uid == request.auth.uid;

      // Allow create if user is authenticated and the data is valid
      allow create: if request.auth != null && isValidTaskData();

      // Allow update is the user is authenticated, owns the task, and the data is isValidTaskData
      allow update: if request.auth != null && resource.data.uid == request.auth.uid && isValidTaskData();

      // Allow delete if user is authenticated and owns the task
      allow delete: if request.auth != null && resource.data.uid == request.auth.uid;
    }

    // Function to validate task data
    function isValidTaskData() {
      return (
        request.resource.data.keys().hasAll(['task', 'isComplete', 'createdAt', 'uid']) && 
        request.resource.data.task is string && 
        request.resource.data.isComplete is bool && 
        request.resources.data.createdAt is timestamp &&
        request.resource.data.uid == request.auth.uid
    )}

  }
}